html,body{font-size:400px;overflow: hidden;}

@media only screen and (max-width:1600px) and (max-height: 2100px){
  html,body{font-size:240px;}
}
/*iphone6 plus*/
@media only screen and (max-width:1242px) and (max-height: 2208px){
  html,body{font-size:300px;}
}
@media only screen and (max-width:1242px) and (max-height: 1900px){
  html,body{font-size:220px;}
}
@media only screen and (max-width:1242px) and (max-height: 1700px){
  html,body{font-size:210px;}
}
@media only screen and (max-width:1100px) and (max-height: 1450px){
  html,body{font-size:170px;}
}
@media only screen and (max-width:980px) and (max-height: 1500px){
  html,body{font-size:160px;}
}
 

/*iphone6*/
@media only screen and (max-width:850px) and (max-height: 1500px){
  html,body{font-size:180px;}
}
@media only screen and (max-width:801px) and (max-height: 1200px){
  html,body{font-size:135px;}
}
/*iphone5*/
@media only screen and (max-width:640px) and (max-height: 1500px){
  html,body{font-size:160px;}
}
/*iphone4*/
@media only screen and (max-width:640px) and (max-height: 1030px){
  html,body{font-size:120px;}
}
@media only screen and (max-width:640px) and (max-height: 930px){
  html,body{font-size:100px;}
}

@media only screen and (max-width:600px){
  html,body{font-size:110px;}
}
@media only screen and (max-width:600px) and (max-height: 840px){
  html,body{font-size:90px;}
}

@media only screen and (max-width:477px){
  html,body{font-size: 90px;}
}
@media only screen and (max-width:477px) and (max-height: 690px){
	html,body{font-size: 80px;}
}

@media only screen and (max-width:360px){
  html,body{font-size: 63px;}
}
@media only screen and (max-width:360px) and (max-height: 473px){
  html,body{font-size: 50px;}
}

@media only screen and (max-width:320px){
  html,body{font-size: 60px;}
}

main{
	overflow-x: hidden;
}
.page{
	width: 100%;
	position: relative;
	color: #ffffff;
	overflow-x: hidden;
	opacity: 0;
}
.page .itemshow{
	display: block;
}
.page1{
	background: url('../img/bg1.jpg') no-repeat;
	background-size: 100% 100%;
}
.page1 .pad-top{
	padding-top: 11%;
}
.page1 li{
	opacity: 0;
	text-align: center;
	font-size: 0.18rem;
	color: #ffffff;
	line-height: 1.1;
	font-weight: 100;
}
.page1 .logo{
	display: block;
	width: 15.46%;
	margin: 0.17rem auto;
	opacity: 0;
}
.page2{
	background: url('../img/bg2.jpg') no-repeat;
	background-size: 100% 100%;
}
.page2 .p1,.page2 .p2,.page2 .p3{
	position: absolute;
	left: 5%;
	right: 5%;
	font-size: 0.1rem;
	color: #ffffff;
}
.page2 .p1,.page2 .p3{
	left: 50%;
	text-align: left;
}
.page2 .p1{
	top: 29.53%;
}
.page2 .p2{
	right: 39%;
	text-align: right;
	top: 51.51%;
}
.page2 .p3{
	top: 73.07%;
}
.page3{
	background: url('../img/bg3.jpg') no-repeat;
	background-size: 100% 100%;
}
.page3 ul{
	position: absolute;
	top: 5.9%;
	left: 44%;
	right: 44%;
	width: 12%;
	height: 29%;
}
.page3 .itemhide{
	margin: 0 auto;
	width: 100%;
	height: 25%;
	background: #f8f8f8;
	opacity: 1;
}
.page3 li.itemhide:nth-child(1){
	background: url('../img/li0.jpg');
	background-size: 100% 100%;
}
.page3 li.itemhide:nth-child(2){
	background: url('../img/li1.jpg');
	background-size: 100% 100%;
}
.page3 li.itemhide:nth-child(3){
	background: url('../img/li2.jpg');
	background-size: 100% 100%;
}
.page3 li.itemhide:nth-child(4){
	background: url('../img/li3.jpg');
	background-size: 100% 100%;
}
.page3 .p1,.page3 .p2{
	position: absolute;
	width: 100%;
	text-align: center;
	left: 0;
}
.page3 .p1{
	font-size: 0.2rem;
	color: #000000;
	bottom: 30%;
}
.page3 .p2{
	font-size: 0.1rem;
	line-height: 2;
	bottom: 17%;
}
.page4{
	background: #f0f0f0;
}
.page4 .title-img{
	display: block;
	width: 38.14%;
	margin: 0 auto;
	padding-top: 15%;
}
.page4 img.title1{
	padding-top: 0;
}
.page4 .logo{
	position: absolute;
	width: 15.56%;
	top: 25.83%;
	left: 42.22%;
	right: 42.22%;
}
.page4 .circle{
	position: absolute;
	border: 2px solid #dcdcdc;
	border-radius: 50%;
	box-sizing: border-box;
}
.page4 .circle span{
	display: block;
	margin-top: 50%;
	margin-left: -0.02rem;
	width: 0.04rem;
	height: 0.04rem;
	border-radius: 50%;
}
.page4 .circle1{
	top: 25.83%;
	width: 68.52%;
	left: 15.74%;
	right: 15.74%;
	transform: rotate(30deg);
	-webkit-transform: rotate(30deg); 
}
.page4 .circle1 span{
	background: #2a56bd;
}
.page4 .circle2{
	top: 25.83%;
	width: 45.6%;
	left: 27.2%;
	right: 27.2%;
	transform: rotate(170deg);
	-webkit-transform: rotate(170deg);
}
.page4 .circle2 span{
	background: #00913a;
}
.page4 .circle3{
	top: 25.83%;
	width: 30.38%;
	left: 34.81%;
	right: 34.81%;
	transform: rotate(250deg);
	-webkit-transform: rotate(250deg);
}
.page4 .circle3 span{
	background: #c20000;
}
.page4 .products{
	position: absolute;
	text-align: center;
	overflow: hidden;
	width: 100%;
	bottom: 1.24rem;
}
.page4 .products li{
	float: left;
	width: 33.333%;
	text-align: center;
}
.page4 .products li:first-child{
	float: left;
	padding-left: 15%;
	width: 18.333%;
}
.page4 .products li:last-child{
	float: right;
	padding-right: 15%;
	width: 18.333%;
}
.page4 .products li img{
	width: 0.323rem;
	vertical-align: bottom;
}
.page4 .products li p{
	font-size: 0.1rem;
	margin-top: 0.05rem;
}
@keyframes circle1{
	0%   {transform: rotate(30deg);}
	25%  {transform: rotate(120deg);}
	50%  {transform: rotate(210deg);}
	75%  {transform: rotate(300deg);}
	100% {transform: rotate(390deg);}
}

@keyframes circle2{
	0%   {transform: rotate(170deg);}
	25%  {transform: rotate(260deg);}
	50%  {transform: rotate(350deg);}
	75%  {transform: rotate(440deg);}
	100% {transform: rotate(530deg);}
}
@keyframes circle3{
	0%   {transform: rotate(250deg);}
	25%  {transform: rotate(340deg);}
	50%  {transform: rotate(430deg);}
	75%  {transform: rotate(520deg);}
	100% {transform: rotate(610deg);}
}
@-webkit-keyframes circle1{
	0%   {－webkit-transform: rotate(30deg);}
	25%  {－webkit-transform: rotate(120deg);}
	50%  {－webkit-transform: rotate(210deg);}
	75%  {－webkit-transform: rotate(300deg);}
	100% {－webkit-transform: rotate(390deg);}
}

@-webkit-keyframes circle2{
	0%   {－webkit-transform: rotate(170deg);}
	25%  {－webkit-transform: rotate(260deg);}
	50%  {－webkit-transform: rotate(350deg);}
	75%  {－webkit-transform: rotate(440deg);}
	100% {－webkit-transform: rotate(530deg);}
}
@-webkit-keyframes circle3{
	0%   {－webkit-transform: rotate(250deg);}
	25%  {－webkit-transform: rotate(340deg);}
	50%  {－webkit-transform: rotate(430deg);}
	75%  {－webkit-transform: rotate(520deg);}
	100% {－webkit-transform: rotate(610deg);}
}
@-moz-keyframes circle1{
	0%   {-moz-transform: rotate(30deg);}
	25%  {-moz-transform: rotate(120deg);}
	50%  {-moz-transform: rotate(210deg);}
	75%  {-moz-transform: rotate(300deg);}
	100% {-moz-transform: rotate(390deg);}
}

@-moz-keyframes circle2{
	0%   {-moz-transform: rotate(170deg);}
	25%  {-moz-transform: rotate(260deg);}
	50%  {-moz-transform: rotate(350deg);}
	75%  {-moz-transform: rotate(440deg);}
	100% {-moz-transform: rotate(530deg);}
}
@-moz-keyframes circle3{
	0%   {-moz-transform: rotate(250deg);}
	25%  {-moz-transform: rotate(340deg);}
	50%  {-moz-transform: rotate(430deg);}
	75%  {-moz-transform: rotate(520deg);}
	100% {-moz-transform: rotate(610deg);}
}
@-o-keyframes circle1{
	0%   {-o-transform: rotate(30deg);}
	25%  {-o-transform: rotate(120deg);}
	50%  {-o-transform: rotate(210deg);}
	75%  {-o-transform: rotate(300deg);}
	100% {-o-transform: rotate(390deg);}
}

@-o-keyframes circle2{
	0%   {-o-transform: rotate(170deg);}
	25%  {-o-transform: rotate(260deg);}
	50%  {-o-transform: rotate(350deg);}
	75%  {-o-transform: rotate(440deg);}
	100% {-o-transform: rotate(530deg);}
}
@-o-keyframes circle3{
	0%   {-o-transform: rotate(250deg);}
	25%  {-o-transform: rotate(340deg);}
	50%  {-o-transform: rotate(430deg);}
	75%  {-o-transform: rotate(520deg);}
	100% {-o-transform: rotate(610deg);}
}
@-ms-keyframes circle1{
	0%   {-ms-transform: rotate(30deg);}
	25%  {-ms-transform: rotate(120deg);}
	50%  {-ms-transform: rotate(210deg);}
	75%  {-ms-transform: rotate(300deg);}
	100% {-ms-transform: rotate(390deg);}
}

@-ms-keyframes circle2{
	0%   {-ms-transform: rotate(170deg);}
	25%  {-ms-transform: rotate(260deg);}
	50%  {-ms-transform: rotate(350deg);}
	75%  {-ms-transform: rotate(440deg);}
	100% {-ms-transform: rotate(530deg);}
}
@-ms-keyframes circle3{
	0%   {-ms-transform: rotate(250deg);}
	25%  {-ms-transform: rotate(340deg);}
	50%  {-ms-transform: rotate(430deg);}
	75%  {-ms-transform: rotate(520deg);}
	100% {-ms-transform: rotate(610deg);}
}



.page5{
	background: #d6d6d6;
}
.page5 .light,.page5 .light-on{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
}
.page5 .light{
	z-index: 2;
}
.page5 .light-on{
	z-index: 5;
}
.page5 .pad-top{
	padding-top: 0.74rem;
}
.page5 li{
	font-size: 0.26rem;
	font-weight: lighter;
	text-align: center;
}
.page5 .logo{
	position: relative;
	text-align: center;
	padding: 0.16rem 0;
}
.page5 .logo .line{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	margin-top: -10%;
}
.page5 .logo img:last-child{
	display: block;
	width: 13%;
	margin: 0 auto;
}
.page5 .info{
	position: absolute;
	width: 80%;
	left: 10%;
	right:10%;
	bottom: 1.5rem;
}
.page6{
	background: #f0f0f0;
}
.page6 .Y5{
	position: absolute;
	display: block;
	height: 46.4%;
	margin-left: 50%;
	top: 13.2%;
	z-index: 10;
}
.page6 div.itemhide{
	position: absolute;
	left: 50%;
	width: 50%;
	height: 46.4%;
	bottom: 40.4%;
	background: #f0f0f0;
	z-index: 12;
}
.page6 .logo,.page6 .circle{
	position: absolute;
	left: 50%;
}
.page6 .logo{
	height: 6.6%;
	top: 40.2%;
	z-index: 15;
}
.page6 .circle{
	opacity: 0;
	border: 1px solid #c20000;
	border-right: 0;
	border-radius: 50% 0 0 50%;
}
.page6 .circle1{
	height: 10.98%;
	top: 37.9%;
}
.page6 .circle2{
	height: 18.22%;
	top: 33.9%;
}
.page6 .circle3{
	height: 25.98%;
	top: 29.9%;
}
.page6 .text{
	position: absolute;
	left: 0;
	width: 100%;
	bottom: 1.33rem;
	text-align: center;
}
.page6 .text p:first-child{
	font-size: 0.43rem;
	font-weight: normal;
	margin-bottom: 0.05rem;
}
.page6 .text p:last-child{
	font-size: 0.16rem;
	font-weight: lighter;
}
.page7{
	display: block;
	background: #f7f9f6;
}
.page7 h1{
	font-size: 0.43rem;
	color: #c20000;
	font-weight: lighter;
	text-align: center;
	padding-top: 0.85rem;
	margin-bottom: 0.23rem;
}
.page7 form{
	width: 68.9%;
	margin: 0 auto;
}
.page7 form p{
	font-size: 0.1rem;
	color: #000000;
	margin-bottom: 0.14rem;
	text-indent: 10px;
}
.page7 form input{
	display: block;
	width: 100%;
	height: 0.37rem;
	border: 1px solid #000000;
	border-radius: 0.06rem;
	box-sizing: border-box;
	margin-bottom: 0.08rem;
	text-indent: 0.1rem;
	font-size: 0.2rem;
}
.page7 form button{
	display: block;
	font-size: 0.17rem;
	padding: 0.1rem 0.05rem;
	border: 0;
	border-radius: 0.05rem;
	margin: 0 auto;
	background: #be0000;
	color: #ffffff;
}
.page7 form button.disable{
	background: #9fa0a0;
}
.page7 .icon{
	position: absolute;
	width: 36%;
	left: 32%;
	right: 32%;
	bottom: 1.17rem;
}
.page .fixed{
	position: absolute;
	left: 0;
	bottom: 0.15rem;
	width: 100%;
	z-index: 20;
	font-size: 0.1rem;
	text-align: center;
	opacity: 0;
	outline: none;
}
.page4,.page5,.page6,.page7{
	color: #000000;
}
.page .fixed img{
	display: block;
	width: 14.35%;
	margin: 0 auto;
	margin-bottom: 0.06rem;
}
.page .fixed p{
	display: block;
}